body {
    font-family: Arial, sans-seri;
    text-align:center;
    background-color:rgb(18, 16, 16) ;
  }
  
  h1 {
    margin-top: 20px;
  }
  
  form {
    width: 700px;
    margin: 0 auto;
    text-align: left;
    border: 1px solid #ccc;
    padding: 20px;
    border-radius: 5px;
    background-color: rgb(118, 12, 112);
  }
  form label,
  form input,
  form button,
  form checkbox {
    display: block;
    margin-bottom: 10px;
  }
  
  table {
    border-collapse: collapse;
    width: 80%;
    margin: 20px auto;
  }
  
  th, td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
    color: aliceblue;
  }
  th {
    background-color: #884a4a

  }